@model IEnumerable<_5032HD.Models.AspNetUserRole>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Users' Roles</h2>

@*<p>
    @Html.ActionLink("Create New", "Create", new { @class = "btn btn-primary btn-xs" })
</p>*@
@if (this.User.IsInRole("Admin")) {
<p>
    <a href="/AspNetUserRoles/create" class="btn btn-primary" style="font-size:small">Create new &raquo;</a>
</p>
}
<hr />
<a id="searchLink" onclick="toggleTable();" class="btn btn-success btn-sm" class="btn btn-info" href="#">Advance Search</a>
<hr />
<table style="width: 60%; margin: 0 auto 2em auto;" border="0" cellspacing="0" cellpadding="3" id="search">
    <thead>
        <tr>
            <th>Target</th>
            <th> Search text:</th>
        </tr>
    </thead>

    <tbody>
        <tr id="filter_global">
            <td>Global search</td>
            <td align="center"><input class="global_filter" id="global_filter" type="text"></td>
        </tr>
        <tr id="filter_col1" data-column="0">
            <td>Note</td>
            <td align="center"><input class="column_filter" id="col0_filter" type="text"></td>
        </tr>
        <tr id="filter_col2" data-column="1">
            <td>Role Name</td>
            <td align="center"><input class="column_filter" id="col1_filter" type="text"></td>
        </tr>
        <tr id="filter_col3" data-column="2">
            <td>User Name</td>
            <td align="center"><input class="column_filter" id="col2_filter" type="text"></td>
        </tr>
    </tbody>
</table>
<table class="display" id="data">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.note)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AspNetRole.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AspNetUser.Email)
            </th>
            @*<th></th>*@
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.note)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AspNetRole.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AspNetUser.Email)
                </td>
                @*<td>
                    @if (this.User.IsInRole("Admin")) { 
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-default btn-xs" }) }|
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-info btn-xs" })|
                    @if (this.User.IsInRole("Admin"))
                    {
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-warning btn-xs" })}
                </td>*@
            </tr>
        }
    </tbody>
</table>
@*@Html.ActionLink("Generate PDF", "GeneratePdf")*@